$bp: 900px;

.newsletter {
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem 3rem;
  margin: 0 auto;

  @media (max-width: $bp) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.text {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template-columns: minmax(15rem, 25rem) auto;
  gap: 1rem;

  @media (max-width: $bp) {
    grid-template-columns: 1fr;
  }
}
