.select {
  position: relative;
  display: flex;
  align-items: center;

  select {
    flex: 1;
    cursor: pointer;
    color: var(--dark);
    appearance: none;
    outline: none;
    font-family: inherit;

    background-color: var(--light);
    padding: 0.5rem 2.75rem 0.5rem 1.025rem;
    border: 1px solid var(--light-5);
    border-radius: var(--border-radius-small);
  }

  .icon {
    pointer-events: none;
    position: absolute;
    right: 0.875rem;
    width: 11px;
    height: auto;
    svg,
    g {
      fill: var(--dark-5);
    }
  }
}
