@use '/assets/styles/variables' as v;
$bp: 767px;
$photoSize: 12rem;

.headerContainer {
  text-align: center;
  border-top: 1px solid var(--light-5);
}

.header {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 6rem var(--horizontal-padding) 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .back {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.15rem;
    left: var(--horizontal-padding);
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 1;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    svg {
      fill: var(--main-color);
      width: 15px;
      height: 15px;
      transform-origin: center;
      transform: rotate(90deg);
      margin-right: 0.25rem;
      margin-bottom: 1px;
    }
  }

  .title {
    margin-top: 3rem;
    font-size: 3.5rem;
    hyphens: auto;
  }

  .picture {
    height: $photoSize;
    width: $photoSize;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-round);
      border: 6px solid var(--main-color);
      // box-shadow: var(--shadow-large);
    }
  }

  .company {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -0.75rem;
    margin-bottom: 0.75rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.35;
  }

  .button {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 25rem;
  }
}

.content {
  max-width: var(--article-max-width);
  margin: 0 auto;
  padding: 1.5rem var(--horizontal-padding) 8rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 2;

  @media (max-width: $bp) {
    font-size: 1.075rem;
    line-height: 1.875;
  }

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-text);
  }

  h2 {
    font-size: 1.5rem;
    margin: 3rem 0 1rem;
  }
  h3 {
    font-size: 1.35rem;
    margin: 1.5rem 0 0.75rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.15rem;
    margin: 1rem 0 0.5rem;
  }
}

.icon.icon-link {
  background-color: red;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
