# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
.DS_Store
.idea

.vercel

# Just in case
.env
.env.local
.env.development
.env.staging
.env.production
**/*.env