# dependencies
node_modules
node_modules_dev
node_modules_prod

# logs
npm-debug.log

# Nuxt build
.nuxt

# Vercel Dev
.vercel

# Nuxt generate
dist
.DS_Store
.idea

# Just in case
.env
.env.local
.env.development
.env.staging
.env.production
**/*.env