$bp-1: 1000px;
$bp-2: 550px;

.navigation {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  gap: 2.5rem;

  @media (max-width: $bp-1) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: $bp-2) {
    grid-template-columns: repeat(2, auto);
  }
}

.menu {
  .title {
    font-family: var(--font-text);
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    font-size: 0.925rem;
  }

  ul {
    list-style: none;
    font-size: 0.9rem;
    line-height: 1.3;

    li {
      a {
        display: block;
        margin: 0.925rem 0;
        color: inherit;
        opacity: 0.6;
        hyphens: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: opacity 0.2s;

        @media (hover: hover) {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
