.cta {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  appearance: none;
  text-decoration: none;
  font-family: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  padding: 0 1.5rem;
  height: 48px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: var(--border-radius-small);

  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: #fff;
      background-color: var(--main-color-light-3);
      border-color: var(--main-color-light-3);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--main-color-light-4);
    border-color: var(--main-color-light-4);
  }
}

.text {
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  .text {
    opacity: 0;
  }
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  span {
    background-color: #fff !important;
  }
}

/* Types */
.gradient {
  border: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      var(--main-gradient-start),
      var(--main-gradient-end)
    );
    border-radius: var(--border-radius-small);

    opacity: 1;
    transition: opacity 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 0;
      }
    }
  }

  &:disabled {
    &::after {
      opacity: 0;
    }
  }
}

.secondary {
  color: var(--dark-4);
  background-color: var(--light);
  border-color: var(--light-7);

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-light);
      background-color: var(--light);
      border-color: var(--main-color-light);
    }
  }

  &.loading {
    border-color: var(--main-color-light-4);
  }
  .loader {
    span {
      background-color: var(--main-color-light-2) !important;
    }
  }

  &:disabled {
    background-color: var(--light);
    border-color: var(--main-color-light-4);
  }
}

.tertiary {
  color: var(--main-color);
  background-color: var(--main-color-light-8);
  border-color: var(--main-color-light-8);

  @media (hover: hover) {
    &:hover {
      color: var(--main-color);
      background-color: var(--main-color-light-7);
      border-color: var(--main-color-light-7);
    }
  }

  .loader {
    span {
      background-color: var(--main-color-light) !important;
    }
  }

  &:disabled {
    background-color: var(--main-color-light-7);
    border-color: var(--main-color-light-7);
  }
}

[data-theme='dark'] {
  .tertiary {
    color: var(--main-color-light);
    border-color: rgba(255, 255, 255, 0.035);
    background-color: rgba(255, 255, 255, 0.035);
    transition: opacity 0.2s;

    @media (hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
