$bp: 600px;

.collapsible {
  width: 100%;
  border-bottom: 1px solid var(--light-5);
  margin: 0 auto;
  max-width: 60rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.25rem 0.5rem;
  opacity: 1;
  transition: opacity 0.2s;

  @media (hover: hover) {
    &:hover {
      opacity: 0.75;
    }
  }

  @media (max-width: $bp) {
    padding: 1rem 0.35rem;
  }

  .title {
    pointer-events: none;
    font-weight: 600;
    font-size: 1.275rem;
    line-height: 1.3;
    padding-right: 2rem;

    @media (max-width: $bp) {
      font-size: 1rem;
    }
  }

  .icon {
    pointer-events: none;
    position: relative;
    display: flex;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;

    @media (max-width: $bp) {
      width: 0.7rem;
      height: 0.7rem;
    }

    span {
      position: absolute;
      transform-origin: center;
      width: 100%;
      height: 2px;
      border-radius: var(--border-radius-max);
      background-color: var(--dark);
      transition: transform 0.2s;

      &:nth-child(1) {
        transform: rotate(-90deg) translate3d(0, 0, 0);
      }
    }
  }
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s;

  .container {
    padding: 0rem 1.5rem 2rem;
    font-size: 1.15rem;
    opacity: 0.75;

    @media (max-width: $bp) {
      font-size: 1rem;
    }
  }
}

.open {
  .icon {
    span {
      &:nth-child(1) {
        transform: rotate(0deg) translate3d(0, 0, 0);
      }
    }
  }
  .content {
    // max-height: inherit;
  }
}
