$bp: 1023px;
$bp-min: $bp + 1px;
$submenu-translation-y: -0.85rem;
$submenu-translation-x: 4rem;
$submenu-translation-x-last: 8rem;
$submenu-rotation-x: -20deg;

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $bp) {
    padding: 0 var(--horizontal-padding);
  }

  ul {
    list-style: none;
  }
}

.menu {
  display: flex;

  @media (max-width: $bp) {
    flex-direction: column;
    width: 100%;
  }

  & > li {
    width: 100%;
    &:not(:last-child) {
      margin-right: 2.5rem;

      @media (max-width: $bp) {
        margin-right: 0;
      }
    }
    & > a {
      font-size: 1.025rem;
      font-weight: 500;
      opacity: 1;
      padding: 1rem 0;
      transition: opacity 0.2s;
      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  li {
    position: relative;

    @media (max-width: $bp) {
      border-top: 1px solid var(--light-5);
    }

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: inherit;

      @media (max-width: $bp) {
        justify-content: flex-start;
      }
    }
  }
}

/* Menu Item Hover */
.isSubmenu {
  & > a {
    cursor: default;
    @media (max-width: $bp) {
      cursor: pointer;
    }
  }

  .chevDown {
    margin-left: 0.5rem;
    height: 12px;
    width: 12px;
    transform: rotate(0deg) translate3d(0, 0, 0);
    transition: transform 0.2s ease;

    @media (max-width: $bp) {
      margin-left: auto;
    }
  }
}

/* Submenu Container */
.submenuContainer {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(calc(-50% + #{$submenu-translation-x}), #{$submenu-translation-y}, 0)
    rotateX(#{$submenu-rotation-x});

  transition: opacity 0.25s, transform 0.25s ease, max-height 0.35s ease;

  @media (max-width: $bp) {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    transform: translate3d(0, 0, 0) rotateX(0deg);
    opacity: 1;
    pointer-events: auto;
    max-height: 0;
    overflow: hidden;
  }
}

.isSubmenu.hovered {
  .submenuContainer {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s, transform 0.5s ease, max-height 0.35s ease;
    transform: translate3d(calc(-50% + #{$submenu-translation-x}), #{$submenu-translation-y}, 0) rotateX(0deg);

    @media (max-width: $bp) {
      left: inherit;
      right: inherit;
      transform: translate3d(0, 0, 0) rotateX(0deg);
    }
  }
}

/* Last Menu Item */
.menu {
  & > li:last-child {
    .submenuContainer {
      left: inherit;
      right: 0;
      transform: translate3d(#{$submenu-translation-x-last}, #{$submenu-translation-y}, 0)
        rotateX(#{$submenu-rotation-x});

      @media (max-width: $bp) {
        transform: translate3d(0, 0, 0) rotateX(0);
      }
    }

    .submenuWrapper {
      &::before {
        left: inherit;
        right: 0;
        transform: translate3d(calc(-#{$submenu-translation-x-last} - 3.5rem), 0, 0);
      }
    }

    &.isSubmenu.hovered {
      .submenuContainer {
        transform: translate3d(#{$submenu-translation-x-last}, #{$submenu-translation-y}, 0) rotateX(0);

        @media (max-width: $bp) {
          transform: translate3d(0, 0, 0) rotateX(0);
        }
      }
    }
  }
}

/* Submenu Wrapper */
.submenuWrapper {
  position: relative;
  display: flex;
  margin-top: 0.75rem;

  background-color: var(--light);
  box-shadow: var(--shadow-medium);
  border-radius: var(--border-radius-medium);

  @media (max-width: $bp) {
    flex-direction: column;
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate3d(calc(-50% - #{$submenu-translation-x} - 0.5rem), 0, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light);
  }
}

/* Submenu */
.submenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  min-width: 17rem;

  @media (max-width: $bp) {
    padding: 0;
    min-width: inherit;
  }

  li {
    margin-right: 0;
    width: 100%;
  }

  &.col-2 {
    min-width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    & > li {
      min-width: 15rem;
    }
    @media (max-width: $bp) {
      display: flex;
      gap: 0;
    }
  }
  &.col-3 {
    min-width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    & > li {
      min-width: 15rem;
    }
    @media (max-width: $bp) {
      display: flex;
      gap: 0;
    }
  }
}

/* Submenu Button */
.buttonContainer {
  padding: 1.125rem 1rem 0.25rem;
  grid-column: 1 / -1;

  @media (max-width: $bp) {
    padding: 1.5rem 0 0;
  }

  .button {
    transform: translate3d(0, 0, 0);
    color: var(--main-color-light);
    font-size: 0.7rem;
    height: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    justify-content: center;

    @media (max-width: $bp) {
      height: 40px;
    }

    &::after {
      content: "\00BB";
      display: inline-block;
      margin-left: 0.35rem;
      margin-bottom: 1px;
    }
  }
}

/* Submenu Link */
.link {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.3;
  padding: 1rem;
  border-radius: var(--border-radius-medium);
  width: 100%;
  background-color: var(--light);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--light-3);
  }

  @media (max-width: $bp) {
    padding: 0.75rem 0.5rem;
  }

  .linkIcon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .linkTitle {
    display: block;
    font-size: 0.925rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
  }

  .linkDescription {
    display: block;
    opacity: 0.5;
    font-size: 0.8rem;
  }
}

.open {
  .chevDown {
    @media (max-width: $bp) {
      transform: rotate(180deg) translate3d(0, 0, 0);
      g {
        fill: var(--main-color);
      }
    }
  }
}

/* Side Menu */
.sidemenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--light-2);
  min-width: 12rem;
  padding: 2.25rem 3rem 2.25rem 2.25rem;

  @media (max-width: $bp) {
    padding: 0 0 0 1.5rem;
    margin: 2rem 0;
    background-color: transparent;
  }

  &.right {
    border-left: 1px solid var(--light-4);
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
  }

  li {
    width: 100%;

    @media (max-width: $bp) {
      border-top: none;
    }

    .sidemenuTitle {
      display: block;
      font-size: 0.8rem;
      font-weight: 600;
      opacity: 0.3;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 0.75rem;
    }

    .sidemenuLink {
      display: block;
      padding: 0.31rem 0;
      justify-content: flex-start;
      font-size: 0.875rem;
      transform: translate3d(0, 0, 0);
      opacity: 0.9;
      transition: opacity 0.2s;

      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
