.carousel {
  --swiper-theme-color: var(--main-color);
  width: 100%;
  padding: 2rem 4rem 4rem !important;

  & > div {
    will-change: transform;
  }

  .slide {
    /* default */
    flex-shrink: 0;
    padding: 2rem;
    position: relative;
    /* default end */

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    opacity: 0.4;
    will-change: opacity, transform;
    transform: translate3d(0, 0, 0);

    transition: opacity 0.5s;

    &.active {
      opacity: 1;
    }
  }

  .pagination {
    // bottom: 0;
    .bullet {
      opacity: 0.1;
    }
    .bulletActive {
      opacity: 1;
    }
  }
}
