$bp-1: 1086px;

.container {
  padding: 0rem var(--horizontal-padding) 6rem;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 0 3rem;
  align-items: center;

  @media (max-width: $bp-1) {
    grid-template-columns: 1fr !important;
    gap: 3rem 0;
    padding: 3rem var(--horizontal-padding) 4rem;
  }

  /* Content (Text + CTAs) */
  .content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $bp-1) {
      order: -1;
      padding: 0;
      align-items: center;
      text-align: center;
    }

    .badge {
      margin-bottom: 1rem;
      span {
        display: inline-flex;
        padding: 0.35rem 1rem;
        color: var(--main-color);
        font-weight: 700;
        font-size: 0.95rem;
        text-transform: uppercase;
        background-color: var(--main-color-light-6);
        border-radius: var(--border-radius-medium);
      }
    }

    .title {
      @media (max-width: $bp-1) {
        max-width: 55rem;
      }
    }

    .description {
      font-size: 1.35rem;
      line-height: 1.7;

      @media (max-width: $bp-1) {
        max-width: 40rem;
        font-size: 1.25rem;
      }
    }

    .buttons {
      $button-bp: 500px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      @media (max-width: $bp-1) {
        justify-content: center;
      }
      @media (max-width: $button-bp) {
        flex-direction: column;
        width: 100%;
      }

      .button {
        &:not(:last-child) {
          margin-right: 1.25rem;
          @media (max-width: $button-bp) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }

        a {
          @media (max-width: $button-bp) {
            width: 90%;
          }
        }
      }
    }
  }

  /* Illustration */
  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;

    @media (max-width: $bp-1) {
      justify-self: center;
      width: 100%;
      max-width: 55rem;
      height: inherit;
      svg {
        max-height: 25rem;
      }
    }

    // &::before {
    //   content: "Illustration Placeholder";
    //   position: absolute;
    //   color: var(--light-8);
    // }
  }

  /* Alignment: RIGHT */
  &.right {
    grid-template-columns: 1fr 45%;

    .illustration {
      order: -1;
    }
  }

  /* Alignment: CENTER */
  &.center {
    padding: 3rem var(--horizontal-padding) 6rem;
    grid-template-columns: 1fr;
    gap: 3rem 0;

    .content {
      align-items: center;
      text-align: center;

      .title {
        max-width: 70rem;
      }

      .description {
        max-width: 50rem;
      }
    }
  }
}
