$bp: 1440px;
$bp-1: 1086px;

.hero {
  padding: 1.5rem var(--horizontal-padding) calc(var(--vertical-padding) + 4rem);
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 0 3rem;

  @media (max-width: $bp) {
    padding: 1rem var(--horizontal-padding) calc(var(--vertical-padding) + 4rem);
  }

  @media (max-width: $bp-1) {
    grid-template-columns: 1fr !important;
    gap: 3rem 0;
    align-items: center;
    padding: 3rem var(--horizontal-padding) calc(var(--vertical-padding) + 2rem);
  }

  /* Content (Text + CTAs) */
  .content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $bp-1) {
      order: -1;
      padding: 0;
      align-items: center;
      text-align: center;
    }

    .title {
      @media (max-width: $bp-1) {
        max-width: 55rem;
      }
    }

    .typewriter {
      color: var(--main-color);
    }

    .description {
      font-size: 1.35rem;
      line-height: 1.7;

      @media (max-width: $bp-1) {
        max-width: 40rem;
        font-size: 1.25rem;
      }
    }

    .buttons {
      $button-bp: 500px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      @media (max-width: $bp-1) {
        justify-content: center;
      }
      @media (max-width: $button-bp) {
        flex-direction: column;
        width: 100%;
      }

      .button {
        &:not(:last-child) {
          margin-right: 1.25rem;
          @media (max-width: $button-bp) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }

        a {
          @media (max-width: $button-bp) {
            width: 90%;
          }
        }
      }
    }
  }

  /* Illustration */
  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;

    @media (max-width: $bp-1) {
      justify-self: center;
      width: 100%;
      max-width: 55rem;
      height: inherit;
      svg {
        max-height: 25rem;
      }
    }
  }

  /* Alignment: RIGHT */
  &.right {
    grid-template-columns: 1fr 45%;

    .illustration {
      order: -1;
    }
  }

  /* Alignment: CENTER */
  &.center {
    padding: 3rem var(--horizontal-padding) 6rem;
    grid-template-columns: 1fr;
    gap: 3rem 0;

    .content {
      align-items: center;
      text-align: center;

      .title {
        max-width: 70rem;
      }

      .description {
        max-width: 50rem;
      }
    }
  }
}

/* Vertical Align */
.top {
  align-items: start;
}
.bottom {
  align-items: end;
}
.middle {
  align-items: center;
}

/* Illustration Width */
.narrow {
  grid-template-columns: 50% 1fr;
}
.normal {
  grid-template-columns: 45% 1fr;
}
.wide {
  grid-template-columns: 40% 1fr;
}
