.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-light-6);
  border-radius: var(--border-radius-medium);

  svg {
    position: absolute;
    width: auto !important;
    height: 50% !important;
    object-fit: contain;
  }

  svg,
  g {
    fill: var(--main-color);
  }
}
