.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-light-8);
  border-radius: var(--border-radius-medium);

  svg {
    position: absolute;
    transform-origin: center;
    transform: scale(0.55) translate3d(0, 0, 0);
  }

  svg,
  g {
    fill: var(--main-color);
  }
}

[data-theme="main"],
[data-theme="dark"] {
  .wrapper {
    svg,
    g {
      fill: #fff;
    }
  }
}
