$bp-1: 1023px;

.container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 0 3rem;

  @media (max-width: $bp-1) {
    grid-template-columns: 1fr !important;
    gap: 3rem 0;
    padding: 3rem 0;
  }

  /* Content (Text + CTAs) */
  .content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $bp-1) {
      order: -1;
      padding: 0;
      align-items: center;
      text-align: center;
    }

    .title {
      @media (max-width: $bp-1) {
        max-width: 55rem;
      }
    }

    .description {
      font-size: 1.25rem;
      line-height: 1.7;

      @media (max-width: $bp-1) {
        max-width: 40rem;
      }
      @media (max-width: 500px) {
        font-size: 1.15rem;
      }
    }

    .buttons {
      $button-bp: 500px;
      list-style: none;
      display: flex;
      margin-top: 2rem;

      @media (max-width: $bp-1) {
        justify-content: center;
      }

      .button {
        &:not(:last-child) {
          margin-right: 1.25rem;
        }

        a,
        button {
          display: inline-grid;
          @media (max-width: $button-bp) {
            width: 90%;
          }
        }
      }
    }
  }
}

/* Alignment: RIGHT */
.right {
  grid-template-columns: 1fr 35%;

  .illustration {
    order: -1;
  }
}

/* Alignment: CENTER */
.center {
  grid-template-columns: 1fr;
  gap: 3rem 0;

  .content {
    padding: 0;
    align-items: center;
    text-align: center;

    .title {
      max-width: 65rem;
    }

    .description {
      max-width: 50rem;
    }
  }
}

/* Padding */
.pad-none {
  padding: 0;
}
.pad-small {
  padding: 1rem 0;
}
.pad-medium {
  padding: 3rem 0;
}
.pad-large {
  padding: 5rem 0;
}
.pad-topOnly {
  padding: 5rem 0 0;
  @media (max-width: $bp-1) {
    padding: 3rem 0 0;
  }
}
.pad-bottomOnly {
  padding: 0 0 5rem;
  @media (max-width: $bp-1) {
    padding: 0 0 3rem;
  }
}
