.tabs {
  padding: 2rem 0;
  display: grid;
  align-items: center;
  gap: 3rem;
}

.header {
  padding: 6rem 0;

  .items {
    position: relative;
    border-left: 1px solid var(--light-5);
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.75rem 2rem 0.75rem;
      border-radius: var(--border-radius-medium);
      background-color: transparent;
      opacity: 0.35;
      transition: opacity 0.3s, padding 0.3s ease, background-color 0.15s;

      & > * {
        pointer-events: none;
      }

      @media (hover: hover) {
        &:hover {
          opacity: 0.75;
        }
      }
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
      &.active {
        opacity: 1;
        background-color: var(--light);
        padding: 1.45rem 2rem 1.75rem;
        box-shadow: var(--shadow-small);
      }

      .index {
        display: inline-block;
        color: var(--main-color);
        margin-right: 0.25rem;
      }

      .title {
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 1.35rem;
      }

      .description {
        display: none;
        font-size: 0.95rem;
        opacity: 0.75;
      }
      &.active {
        .description {
          display: block;
        }
      }

      .indicator {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 6px;
        margin-left: -3px;
        border-radius: var(--border-radius-max);
        background-color: var(--main-color);
      }
      &.active {
        .indicator {
          display: block;
        }
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  .mobileTextContainer {
    display: none;
  }
}

/* Alignment: LEFT */
.left {
  grid-template-columns: minmax(20rem, 35%) 1fr;
}

/* Alignment: RIGHT */
.right {
  grid-template-columns: 1fr minmax(20rem, 35%);
  .content {
    order: -1;
  }
}

/* Alignment: CENTER */
.center {
  grid-template-columns: 1fr;

  .header {
    padding: 0;
    overflow: hidden;
  }

  .items {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-left: none;
    overflow-y: hidden;
    overflow-x: auto;
    border-bottom: 1px solid var(--light-5);
    -ms-overflow-style: none;
    scrollbar-width: 0px;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      padding: 1rem 2rem 0.75rem;
      max-width: 20rem;
      &.active {
        box-shadow: none;
        background-color: transparent;
        padding: 1rem 2rem 0.75rem;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
      .title {
        white-space: nowrap;
      }
      .description {
        display: none !important;
      }
      .indicator {
        top: inherit;
        bottom: 0;
        height: 8px;
        width: 100%;
        margin-left: 0;
        transform: translateY(4px);
      }
    }
  }

  .content {
    min-height: inherit;
    width: 100%;
  }
}

.left,
.right {
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 1.5rem;

    .header {
      padding: 0;
      overflow: hidden;
    }

    .items {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      border-left: none !important;
      overflow-y: hidden;
      overflow-x: auto;
      border-bottom: 1px solid var(--light-5);
      -ms-overflow-style: none;
      scrollbar-width: 0px;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        padding: 1rem 2rem 0.75rem;
        max-width: 20rem;
        &.active {
          box-shadow: none;
          background-color: transparent;
          padding: 1rem 2rem 0.75rem;
        }
        &:not(:last-child) {
          margin-bottom: 0;
        }
        .title {
          white-space: nowrap;
        }
        .description {
          display: none !important;
        }
        .indicator {
          top: inherit;
          bottom: 0;
          height: 8px;
          width: 100%;
          margin-left: 0;
          transform: translateY(4px);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      min-height: inherit;
      width: 100%;
      order: 1;

      & > *:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      .mobileTextContainer {
        display: block;

        .mobileDescription {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
  }
}

/* With Background */
.withBackground {
  .content {
    border-radius: var(--border-radius-large);
    background-color: rgba(255, 255, 255, 0.075);
  }
}
[data-theme="dark"] {
  .withBackground {
    .content {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }
}

/* Color Corrections */
[data-section-theme="main"],
[data-section-theme="dark"] {
  .items {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .center {
    .items {
      border-left: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }

  .index {
    color: rgba(255, 255, 255, 0.65) !important;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: none !important;

    .indicator {
      background-color: #fff !important;
    }
  }
}

[data-theme="dark"] {
  [data-section-theme="light"],
  [data-section-theme="grey"] {
    .index {
      color: var(--main-color) !important;
    }

    .active {
      background-color: rgba(255, 255, 255, 0.035) !important;
      box-shadow: none !important;

      .indicator {
        background-color: var(--main-color) !important;
      }
    }
  }
  [data-section-theme="main"],
  [data-section-theme="dark"] {
    .index {
      color: var(--main-color) !important;
    }

    .active {
      background-color: rgba(255, 255, 255, 0.05) !important;
      box-shadow: none !important;

      .indicator {
        background-color: var(--main-color) !important;
      }
    }
  }
}
