@use '/assets/styles/variables' as v;
$bp: 767px;

.headerContainer {
  text-align: center;
  border-top: 1px solid var(--light-5);
}

.header {
  position: relative;
  max-width: var(--article-max-width);
  margin: 0 auto;
  padding: 6rem var(--horizontal-padding) 4rem;

  .back {
    position: absolute;
    display: flex;
    align-items: center;
    left: var(--horizontal-padding);
    top: 1.15rem;
    left: 0;
    color: inherit;
    font-size: 0.875rem;
    opacity: 0.65;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    @media (max-width: v.$article-max-width + 2rem) {
      left: inherit;
    }

    svg {
      fill: var(--dark);
      width: 10px;
      height: 10px;
      transform-origin: center;
      transform: rotate(90deg);
      margin-right: 0.25rem;
      margin-bottom: 1px;
    }
  }

  .title {
    margin-top: 1rem;
    hyphens: auto;
  }

  .desc {
    display: block;
  }
  .date {
    display: block;
    opacity: 0.5;
  }
}

.partnerImage {
  position: relative;
  max-width: var(--article-max-width);
  margin: 0 auto;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-large);
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--main-color);
  background-image: linear-gradient(
    to right,
    var(--main-gradient-start),
    var(--main-gradient-end)
  );

  @media (max-width: v.$article-max-width) {
    border-radius: 0;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;

    @media (max-width: $bp) {
      flex-direction: column;
      height: 4.5rem;
    }

    img {
      height: 100%;
      filter: invert(1) saturate(0) brightness(99);
      &:first-child {
        transform-origin: right;
      }
      &:last-child {
        transform-origin: left;
      }
    }

    span {
      color: #fff;
      font-size: 3rem;
      font-family: var(--font-display);
      margin: 0 3rem;

      @media (max-width: $bp) {
        font-size: 2.75rem;
        margin: 1rem auto;
      }
    }
  }
}

.content {
  max-width: var(--article-max-width);
  margin: 0 auto;
  padding: 5rem var(--horizontal-padding) 8rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 2;

  @media (max-width: $bp) {
    font-size: 1.075rem;
    line-height: 1.875;
  }

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-text);
  }

  h2 {
    font-size: 1.5rem;
    margin: 3rem 0 1rem;
  }
  h3 {
    font-size: 1.35rem;
    margin: 1.5rem 0 0.75rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.15rem;
    margin: 1rem 0 0.5rem;
  }
}

.icon.icon-link {
  background-color: red;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
