.particles {
  display: none;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: var(--vertical-padding);
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
  transform: scaleX(1.35);

  @media (max-width: 500px) {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  div {
    opacity: 0;
    background-color: var(--light-2);
  }
}

[data-theme="dark"] {
  .particles {
    display: grid;
  }
}
