@use 'sass:color';

/* Theme */
$main-color: #209ddb;

$main-gradient-start: #438ccb;
$main-gradient-end: #0bc2ed;

$main-color-light: color.scale($main-color, $lightness: 10%);
$main-color-light-2: color.scale($main-color, $lightness: 20%);
$main-color-light-3: color.scale($main-color, $lightness: 30%);
$main-color-light-4: color.scale($main-color, $lightness: 40%);
$main-color-light-5: color.scale($main-color, $lightness: 60%);
$main-color-light-6: color.scale($main-color, $lightness: 80%);
$main-color-light-7: color.scale($main-color, $lightness: 85%);
$main-color-light-8: color.scale($main-color, $lightness: 90%);
$main-color-light-9: color.scale($main-color, $lightness: 95%);

$main-color-dark: color.scale($main-color, $lightness: -5%);
$main-color-dark-2: color.scale($main-color, $lightness: -10%);
$main-color-dark-3: color.scale($main-color, $lightness: -20%);
$main-color-dark-4: color.scale($main-color, $lightness: -40%);
$main-color-dark-5: color.scale($main-color, $lightness: -60%);
$main-color-dark-6: color.scale($main-color, $lightness: -80%);

$badge-color: $main-color;

/* Signals */
$color-darkred: #a5081e;
$color-red: #e21822;
$color-yellow: #da9e45;
$color-green: #4eb769;

/* Background */
$background-color: #fff;

/* Accents */
$dark: #000;
$dark-2: #111;
$dark-3: #333;
$dark-4: #444;
$dark-5: #666;
$dark-6: #888;

$light: #fff;
$light-2: #fafafa;
$light-3: #f7f7f7;
$light-4: #f1f1f1;
$light-5: #eaeaea;
$light-6: #e2e2e2;
$light-7: #d7d7d7;
$light-8: #ccc;
$light-9: #aaa;

/* Shadows */
$shadow-small: 0 0 12px rgba(0, 0, 0, 0.075);
$shadow-medium: 0 0 24px rgba(0, 0, 0, 0.1);
$shadow-large: 0 0 64px rgba(0, 0, 0, 0.15);

/* Allocation to CSS variables */
:root {
  // color-scheme: light dark;
  /* Theme */
  --main-color: #{$main-color};

  --main-gradient-start: #{$main-gradient-start};
  --main-gradient-end: #{$main-gradient-end};

  --main-color-light: #{$main-color-light};
  --main-color-light-2: #{$main-color-light-2};
  --main-color-light-3: #{$main-color-light-3};
  --main-color-light-4: #{$main-color-light-4};
  --main-color-light-5: #{$main-color-light-5};
  --main-color-light-6: #{$main-color-light-6};
  --main-color-light-7: #{$main-color-light-7};
  --main-color-light-8: #{$main-color-light-8};
  --main-color-light-9: #{$main-color-light-9};

  --main-color-dark: #{$main-color-dark};
  --main-color-dark-2: #{$main-color-dark-2};
  --main-color-dark-3: #{$main-color-dark-3};
  --main-color-dark-4: #{$main-color-dark-4};
  --main-color-dark-5: #{$main-color-dark-5};
  --main-color-dark-6: #{$main-color-dark-6};

  --badge-color: #{$badge-color};

  /* Signals */
  --color-darkred: #{$color-darkred};
  --color-red: #{$color-red};
  --color-yellow: #{$color-yellow};
  --color-green: #{$color-green};

  /* Background */
  --background-color: #{$background-color};

  /* Accents */
  --dark: #{$dark};
  --dark-2: #{$dark-2};
  --dark-3: #{$dark-3};
  --dark-4: #{$dark-4};
  --dark-5: #{$dark-5};
  --dark-6: #{$dark-6};

  --light: #{$light};
  --light-2: #{$light-2};
  --light-3: #{$light-3};
  --light-4: #{$light-4};
  --light-5: #{$light-5};
  --light-6: #{$light-6};
  --light-7: #{$light-7};
  --light-8: #{$light-8};
  --light-9: #{$light-9};

  /* Shadows */
  --shadow-small: #{$shadow-small};
  --shadow-medium: #{$shadow-medium};
  --shadow-large: #{$shadow-large};
}

/* Dark Theme */
$background-color-dark: #000;

$dark-dark: #fff;
$dark-2-dark: #fafafa;
$dark-3-dark: #eaeaea;
$dark-4-dark: #ddd;
$dark-5-dark: #ccc;
$dark-6-dark: #aaa;

$light-dark: #000;
$light-2-dark: #101010;
$light-3-dark: #151515;
$light-4-dark: #202020;
$light-5-dark: #252525;
$light-6-dark: #303030;
$light-7-dark: #444;
$light-8-dark: #555;
$light-9-dark: #777;

$shadow-small-dark: 0 0 12px rgba(80, 80, 80, 0.075);
$shadow-medium-dark: 0 0 24px rgba(80, 80, 80, 0.1);
$shadow-large-dark: 0 0 64px rgba(80, 80, 80, 0.15);

[data-theme='dark'] {
  /* Background */
  --background-color: #{$background-color-dark};

  /* Accents */
  --dark: #{$dark-dark};
  --dark-2: #{$dark-2-dark};
  --dark-3: #{$dark-3-dark};
  --dark-4: #{$dark-4-dark};
  --dark-5: #{$dark-5-dark};
  --dark-6: #{$dark-6-dark};

  --light: #{$light-dark};
  --light-2: #{$light-2-dark};
  --light-3: #{$light-3-dark};
  --light-4: #{$light-4-dark};
  --light-5: #{$light-5-dark};
  --light-6: #{$light-6-dark};
  --light-7: #{$light-7-dark};
  --light-8: #{$light-8-dark};
  --light-9: #{$light-9-dark};

  /* Shadows */
  --shadow-small: #{$shadow-small-dark};
  --shadow-medium: #{$shadow-medium-dark};
  --shadow-large: #{$shadow-large-dark};
}
