html,
body {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--dark);
  font-size: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  line-height: 1.6;

  &.blocked {
    overflow: hidden;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#content {
  overflow-x: hidden;
}

hr {
  border: 0;
  border-top: 1px solid var(--light-5);
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-dark);
    }
  }
}

button,
a {
  &:focus {
    outline-color: var(--main-color-light);
  }
}

button,
input,
textarea,
select {
  font-size: 1rem;
}

input,
textarea {
  background-color: var(--light);
  color: var(--dark);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75rem;
  appearance: none;
  box-shadow: none;
  border: 1px solid var(--light-6);
  border-radius: var(--border-radius-small);
  width: 100%;
  outline: none;

  &:focus,
  &:focus-within {
    border: 1px solid var(--main-color);
    box-shadow: inset 0 0 0 1px var(--main-color);
  }

  /* Change the white to any color */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 99px var(--main-color-light-8) inset !important;
    color: var(--dark) !important;
    -webkit-text-fill-color: var(--dark) !important;
  }
}

[data-theme="dark"] {
  input,
  textarea {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 99px var(--light-2) inset !important;
    }
  }
}
