html,
body {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--dark);
  font-size: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  line-height: 1.6;

  &.blocked {
    overflow: hidden;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#content {
  overflow-x: hidden;
}

hr {
  border: 0;
  border-top: 1px solid var(--light-5);
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--main-color-dark);
    }
  }
}

button,
a {
  &:focus {
    outline-color: var(--main-color-light);
  }
}

button,
input,
textarea,
select {
  font-size: 1rem;
}
