p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  letter-spacing: -0.025em;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.075;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  margin: 0 0 1.5rem;

  @media (max-width: 1023px) {
    font-size: 3.5rem;
  }

  @media (max-width: 767px) {
    font-size: 2.75rem;
  }
}

h2 {
  font-size: 3rem;
  margin: 0 0 1.25rem;

  @media (max-width: 1023px) {
    font-size: 2.5rem;
  }

  @media (max-width: 767px) {
    font-size: 2.125rem;
  }
}
