$font-display: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
$font-text: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-code: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace, serif;

$header-height: 100px;
$header-height-mobile: 80px;
$header-height-scrolled: 80px;
$header-height-mobile-scrolled: 70px;

$max-width: 80rem;
$article-max-width: 65rem;

$horizontal-padding: 3rem;
$horizontal-padding-small: 5%;
$vertical-padding: 4.5rem;
$vertical-padding-small: 2rem;
$vertical-padding-skew: 8%;
$vertical-padding-skew-small: 15%;

$docs-bp: 900px;
$docs-gap: 2.5rem;

$border-radius-tiny: 2px;
$border-radius-small: 4px;
$border-radius-medium: 6px;
$border-radius-large: 12px;
$border-radius-max: 999px;
$border-radius-round: 50%;

:root {
  --font-display: #{$font-display};
  --font-text: #{$font-text};
  --font-code: #{$font-code};

  --header-height: #{$header-height};
  --header-height-scrolled: #{$header-height-scrolled};

  --max-width: #{$max-width};
  --article-max-width: #{$article-max-width};

  --horizontal-padding: #{$horizontal-padding};
  --vertical-padding: #{$vertical-padding};
  --vertical-padding-skew: #{$vertical-padding-skew};

  --docs-bp: #{$docs-bp};
  --docs-gap: #{$docs-gap};

  --border-radius-tiny: #{$border-radius-tiny};
  --border-radius-small: #{$border-radius-small};
  --border-radius-medium: #{$border-radius-medium};
  --border-radius-large: #{$border-radius-large};
  --border-radius-max: #{$border-radius-max};
  --border-radius-round: #{$border-radius-round};

  @media (max-width: 768px) {
    --horizontal-padding: #{$horizontal-padding-small};
    --vertical-padding: #{$vertical-padding-small};
  }
  @media (max-width: 1024px) {
    --vertical-padding-skew: #{$vertical-padding-skew-small};
  }

  @media (max-width: 600px) {
    --header-height: #{$header-height-mobile};
    --header-height-scrolled: #{$header-height-mobile-scrolled};
  }
}
