$bp: 900px;

.footer {
  margin-top: auto;
  background-color: var(--light-2);
}

.content {
  padding: 4rem var(--horizontal-padding) 2.5rem;
  max-width: var(--max-width);
  margin: 0 auto;
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp) {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .logo {
    width: 12rem;
    object-fit: contain;

    img {
      width: 100%;
    }
  }

  .options {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .copyright {
    color: var(--dark-5);
    line-height: 1.3;
  }
}
