$bp: 900px;

.footer {
  margin-top: auto;
  background-color: var(--light-2);
}

.content {
  padding: 4rem var(--horizontal-padding) 2.75rem;
  max-width: var(--max-width);
  margin: 0 auto;

  @media (max-width: $bp) {
    padding: 4rem var(--horizontal-padding) 3.25rem;
  }
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp) {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
    & > *:first-child {
      margin-bottom: 2.5rem;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .logo {
    display: flex;
    object-fit: contain;

    img {
      height: 2.75rem;
      width: auto;
    }
  }

  .options {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .copyright {
    color: var(--dark-5);
    line-height: 1.3;
    font-size: 0.95rem;
  }
}

[data-theme="dark"] .logo {
  filter: invert(1) saturate(0) brightness(99);
}
