$bp-1: 1023px;
$horizontal-padding: 3rem;

.container {
  display: grid;
  align-items: center;
  gap: 0 5rem;

  @media (max-width: $bp-1) {
    grid-template-columns: 1fr !important;
    gap: 3rem 0;
    padding: $horizontal-padding 0;
  }

  /* Content (Text + CTAs) */
  .content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $bp-1) {
      order: -1;
      padding: 0;
      align-items: center;
      text-align: center;
    }

    & > * {
      width: 100%;
    }

    .title {
      line-height: 1.2;
      @media (max-width: $bp-1) {
        max-width: 55rem;
      }
    }

    .description {
      font-size: 1.25rem;
      line-height: 1.7;
      margin-bottom: 1.75rem;

      @media (max-width: $bp-1) {
        max-width: 40rem;
      }
      @media (max-width: 500px) {
        font-size: 1.15rem;
      }
    }

    .buttons {
      $button-bp: 500px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $bp-1) {
        justify-content: center;
      }
      @media (max-width: $button-bp) {
        flex-direction: column;
        width: 100%;
      }

      .button {
        &:not(:last-child) {
          margin-right: 1.25rem;
          @media (max-width: $button-bp) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }

        a,
        button {
          display: inline-grid;
          @media (max-width: $button-bp) {
            width: 90%;
          }
        }
      }
    }
  }

  /* Illustration */
  .illustration {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    svg {
      max-height: 90vh;
    }

    @media (max-width: $bp-1) {
      justify-self: center;
      width: 100%;
      max-width: 55rem;
      height: inherit;
      svg {
        max-height: 25rem;
      }
    }
  }

  .image {
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (max-width: $bp-1) {
      margin-top: 0.5rem;
    }

    img {
      z-index: 1;
      width: 100%;
      object-fit: contain;
      object-position: center;
      box-shadow: var(--shadow-medium);

      @media (max-width: $bp-1) {
        width: 93%;
      }
    }

    .background {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .fancy {
        position: absolute;
        pointer-events: none;
        animation: shrink 1.5s ease-in-out infinite alternate;

        &:nth-child(1) {
          top: -5rem;
          left: -3rem;
          width: 15rem;
          height: 15rem;
          padding: 1.5rem;
          border: 1px solid var(--main-color-light-3);
          border-radius: var(--border-radius-round);
          animation-delay: 0s;

          .inner {
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--main-color-light-3);
            border-radius: var(--border-radius-round);
          }

          @media (max-width: 767px) {
            width: 10rem !important;
            height: 10rem !important;
            padding: 1rem;
            top: -2rem !important;
            left: -2rem !important;
          }
        }
        &:nth-child(2) {
          bottom: -3.5rem;
          width: 25rem;
          height: 25rem;
          padding: 2rem;
          border: 1px solid var(--main-color-light-4);
          border-radius: var(--border-radius-round);
          animation-delay: 0.3s;

          .inner {
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--main-color-light-6);
            border-radius: var(--border-radius-round);
          }

          @media (max-width: 767px) {
            width: 15rem;
            height: 15rem;
            padding: 1.5rem;
            left: inherit;
            right: -2rem;
            bottom: -3rem;
          }
        }
        &:nth-child(3) {
          right: -5rem;
          top: -5rem;
          width: 20rem;
          height: 20rem;
          padding: 1.5rem;
          border: 1px solid var(--main-color-light-2);
          border-radius: var(--border-radius-round);
          animation-delay: 0.6s;

          .inner {
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--main-color-light-2);
            border-radius: var(--border-radius-round);
          }

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}

/* Alignment: RIGHT */
.right {
  grid-template-columns: 1fr 35%;

  .illustration,
  .image {
    order: -1;
  }

  .image {
    .background {
      .fancy {
        &:nth-child(1) {
          top: -4.5rem;
          left: -4.5rem;
          width: 20rem;
          height: 20rem;
          .inner {
            background-color: var(--main-color-light-2);
          }
        }

        &:nth-child(3) {
          right: -2.5rem;
          top: -4rem;
          width: 15rem;
          height: 15rem;
          .inner {
            background-color: var(--main-color-light-3);
          }
        }
      }
    }
  }
}

/* Alignment: CENTER */
.center {
  grid-template-columns: 1fr;
  gap: 3rem 0;

  .content {
    padding: 0;
    align-items: center;
    text-align: center;

    .title {
      max-width: 65rem;
    }

    .description {
      max-width: 50rem;
    }
  }
}

/* TextAlignment: LEFT */
.text-left {
  .content {
    @media (max-width: $bp-1) {
      text-align: left;
    }
  }
}

/* TextAlignment: RIGHT */
.text-right {
  .content {
    @media (max-width: $bp-1) {
      text-align: right;
    }
  }
}

/* TextAlignment: CENTER */
.text-center {
  .content {
    @media (max-width: $bp-1) {
      text-align: center;
    }
  }
}

/* Padding Options */
.pad-small {
  padding: 1rem 0;
}
.pad-medium {
  padding: 3rem 0;
}
.pad-large {
  padding: 5rem 0;
}
.pad-none {
  padding: 0;
}

@media (max-width: $bp-1) {
  .pad-large,
  .pad-medium,
  .pad-large,
  .pad-none {
    padding: $horizontal-padding 0;
  }
  [data-section-no-padding='true'] {
    .pad-large,
    .pad-medium,
    .pad-large,
    .pad-none {
      padding: calc(#{$horizontal-padding} + var(--horizontal-padding)) 0;
    }
  }
}

/* Illustration Width */
.narrow {
  grid-template-columns: 45% 1fr;
  &.right {
    grid-template-columns: 1fr 45%;
  }
  &.center {
    grid-template-columns: 1fr;
  }
}
.normal {
  grid-template-columns: 40% 1fr;
  &.right {
    grid-template-columns: 1fr 40%;
  }
  &.center {
    grid-template-columns: 1fr;
  }
}
.wide {
  grid-template-columns: 35% 1fr;
  &.right {
    grid-template-columns: 1fr 35%;
  }
  &.center {
    grid-template-columns: 1fr;
  }
}

@keyframes shrink {
  from {
    transform: scale(1) translate3d(0, 0, 0);
  }
  to {
    transform: scale(0.945) translate3d(0, 0, 0);
  }
}
