$bp: 812px;

.helpSection {
}

.helpContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem var(--horizontal-padding);
}

.help {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-medium);
  transform: translate3d(0, 0, 0);

  @media (max-width: $bp) {
    flex-direction: column;
  }
}

.textContainer {
  z-index: 1;
  flex: 1 0 55%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 4rem 8rem 4rem 4rem;

  @media (max-width: $bp) {
    order: 1;
    padding: 4.5rem 2.5rem 3.5rem 2.5rem;
  }

  & > * {
    z-index: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: skew(-15deg, 0);
    background-color: var(--main-color-light);

    @media (max-width: $bp) {
      transform-origin: top right;
      transform: skew(0, -3deg);
    }
  }
}

.buttons {
  margin: 1.75rem 0;

  .button {
    background-color: var(--main-color-light-3);
    @media (hover: hover) {
      &:hover {
        background-color: var(--main-color-light-4);
      }
    }
  }
}

.illustration {
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;

  & > div {
    transform-origin: center;
    transform: translate3d(0, -7%, 0) scale(1.5);
  }
}
