$bp: 900px;

.helpContainer {
  padding: 4rem 0;
}

.help {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-medium);
  transform: translate3d(0, 0, 0);

  @media (max-width: $bp) {
    flex-direction: column;
  }
}

.textContainer {
  z-index: 1;
  flex: 1 0 55%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 4.5rem 8rem 4rem 4rem;

  @media (max-width: $bp) {
    order: 1;
    padding: 4.5rem 10% 3.5rem 10%;
  }

  & > * {
    z-index: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: skew(-15deg, 0);
    background-color: var(--main-color-light);

    @media (max-width: $bp) {
      transform-origin: top right;
      transform: skew(0, -3deg);
    }
  }

  p {
    font-size: 1.1rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 1.75rem 0;

  @media (max-width: $bp) {
    flex-direction: column;
  }

  .button {
    box-shadow: var(--shadow-small);
    background-color: var(--main-color-light-3);
    @media (hover: hover) {
      &:hover {
        background-color: var(--main-color-light-4);
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0.75rem;

      @media (max-width: $bp) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

.illustration {
  flex: 1 0 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;

  & > div {
    transform-origin: center;
    transform: translate3d(0, 0, 0) scale(1.175);

    @media (max-width: $bp) {
      transform: translate3d(0, 0, 0) scale(1.05);
    }
  }
}

[data-theme="dark"] {
  .help {
    background-color: var(--light-3);
  }
  .textContainer {
    &::after {
      background-color: var(--main-color);
    }
  }
  .buttons {
    .button {
      background-color: var(--main-color-light-2);
      @media (hover: hover) {
        &:hover {
          background-color: var(--main-color-light-3);
        }
      }
    }
  }
  [data-section-theme] {
    .help {
      background-color: var(--light-1);
      box-shadow: none;
      border: 1px solid var(--light-5);
    }
  }
}
