$bp: 767px;

.logos {
  padding: 0.5rem 0 0.75rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: flex;
      margin: 1rem 3rem;
      @media (max-width: $bp) {
        margin: 1rem 2.25rem;
      }

      a {
        display: flex;

        img {
          height: 4.25rem;
          width: auto;
          object-fit: contain;
          filter: brightness(0) saturate(0);
          opacity: 0.65;
          transition: filter 0.35s, opacity 0.35s;

          @media (max-width: $bp) {
            height: 3.5rem;
          }
        }

        @media (hover: hover) {
          &:hover {
            img {
              filter: brightness(1) saturate(1);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.title {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0rem auto 1.5rem;
  max-width: 80%;
  opacity: 0.35;
  letter-spacing: 1px;
  font-size: 0.85rem;

  @media (max-width: $bp) {
    margin-bottom: 2rem;
  }
}

.pad-bottomOnly {
  padding-bottom: var(--horizontal-padding);
}
.pad-topOnly {
  padding-top: var(--horizontal-padding);
}

[data-section-theme="main"],
[data-section-theme="dark"] {
  .logos {
    a {
      img {
        opacity: 0.75;
        filter: brightness(0) saturate(0) invert(1);
      }
    }
  }
  .title {
    opacity: 0.75;
  }
}

[data-theme="dark"] {
  .logos {
    a {
      img {
        opacity: 0.55;
        filter: brightness(0) saturate(0) invert(1);
      }
    }
  }
  .title {
    opacity: 0.5;
  }
}
