.article {
  background-color: var(--light-2);
}

.headerContainer {
  text-align: center;
  border-top: 1px solid var(--light-5);
  border-bottom: 1px solid var(--light-5);
}

.header {
  background-color: var(--light);
  position: relative;
  padding: 6rem var(--horizontal-padding);

  .back {
    position: absolute;
    display: flex;
    align-items: center;
    left: var(--horizontal-padding);
    top: 1rem;
    color: inherit;
    font-size: 0.875rem;
    opacity: 0.65;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    svg {
      fill: var(--dark);
      width: 10px;
      height: 10px;
      transform-origin: center;
      transform: rotate(90deg);
      margin-right: 0.25rem;
      margin-bottom: 1px;
    }
  }

  .title {
    font-size: 2.75rem;
    hyphens: auto;
  }

  .desc {
    display: block;
  }
  .date {
    display: block;
    opacity: 0.5;
  }
}

.content {
  max-width: var(--article-max-width);
  margin: 0 auto;
  padding: 5rem var(--horizontal-padding);
  width: 100%;
  line-height: 1.9;

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-text);
    font-weight: 600;
    line-height: 1.3;
  }

  h2 {
    font-size: 1.6rem;
    margin: 3rem 0 0.75rem;
  }
  h3 {
    font-size: 1.25rem;
    margin: 2.5rem 0 0.65rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.075rem;
    margin: 2rem 0 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a::before {
      opacity: 0;
      content: "#";
      color: var(--main-color);
      margin-left: -0.85em;
      padding-right: 0.5rem;
      position: absolute;
      transition: opacity 0.2s;

      @media (hover: none) {
        position: relative;
        margin-left: 0;
        opacity: 1;
      }
    }

    @media (hover: hover) {
      &:hover {
        a {
          &::before {
            opacity: 1;
          }
          &:hover {
            &::before {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  ul {
    margin: 1.75rem 1em;
    padding: 0 1rem;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
