.tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transform-origin: center;
}

.active {
  pointer-events: auto;
  animation: scaleIn 0.5s ease forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

[data-tab-alignment="center"] {
  .tab {
    position: relative;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

[data-tab-alignment="left"],
[data-tab-alignment="right"] {
  @media (max-width: 900px) {
    .tab {
      position: relative;

      & > *:first-child {
        margin-top: 0;
        padding-top: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

/* With Background */
[data-tab-background="true"] {
  .tab {
    width: 90%;
    height: 90%;
  }
}
