@import "/assets/styles/colors";

$skew-angle: 5deg;

.section {
  position: relative;

  &.isSkewed {
    padding: var(--vertical-padding) 0;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--vertical-padding) 0;
    overflow-x: hidden;
  }

  &.isSkewed {
    .container {
      padding: 0;
    }
  }

  &.noPadding {
    .container {
      padding: 0;
    }
  }

  &.pad-small {
    .container {
      padding: 2rem 0;
    }
  }
  &.pad-topOnly {
    .container {
      padding-bottom: 0;
    }
  }
  &.pad-bottomOnly {
    .container {
      padding-top: 0;
    }
  }
  &.pad-none {
    .container {
      padding: 0;
    }
  }

  .content {
    z-index: 1;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--horizontal-padding);
  }

  &.fullWidth {
    .content {
      padding: 0;
      max-width: inherit;
    }
  }
}

.overflow-hidden {
  .container {
    overflow: hidden;
  }
}

/* COLORS */
html:not([data-theme="dark"]) .main {
  background-color: var(--main-color-light);
  &.isSkewed {
    background-color: transparent;
    .skew {
      background-color: var(--main-color-light);
    }
  }
  .content {
    --dark: #fff;
    --badge-color: #fff;
    color: var(--dark);
    --main-color: #{$main-color-light-3};
    --main-color-light: #{$main-color-light-2};
    --main-color-light-2: #{$main-color-light-4};
    --main-color-light-3: #{$main-color-light-5};
    --main-color-light-4: #{$main-color-light-7};
    --main-color-light-5: #{$main-color};
    --main-color-light-7: #{$main-color-dark};
    --main-color-light-8: #{$main-color-light-3};
  }
}

[data-theme="dark"] .main {
  background-color: var(--light-3);
  &.isSkewed {
    background-color: transparent;
    .skew {
      background-color: var(--light-3);
    }
  }
}

html:not([data-theme="dark"]) .light {
  background-color: var(--main-color-light-9);
  &.isSkewed {
    background-color: transparent;
    .skew {
      background-color: var(--main-color-light-9);
    }
  }
  .content {
    --main-color-light-9: #{$main-color-light-8};
    --main-color-light-8: #{$main-color-light-7};
  }
}

[data-theme="dark"] .light {
  background-color: var(--light-2);
  &.isSkewed {
    background-color: transparent;
    .skew {
      background-color: var(--light-2);
    }
  }
  .content {
    --main-color-light-9: #{$main-color-light-7};
  }
}

html:not([data-theme="dark"]) .dark {
  background-color: var(--main-color-dark-4);
  &.isSkewed {
    background-color: transparent;
    .skew {
      background-color: var(--main-color-dark-4);
    }
  }
  .content {
    --dark: #fff;
    --main-color: #{$main-color-dark-3};
    --main-color-light: #{$main-color-dark};
    --main-color-light-2: #{$main-color-dark-2};
    --main-color-light-3: #{$main-color-dark};
    --main-color-light-4: #{$main-color};
    --main-color-light-5: #{$main-color-light-2};
    --main-color-light-7: #{$main-color-light-3};
    --main-color-light-8: #{$main-color-dark-3};
    --badge-color: #fff;
    color: var(--dark);
  }
}

[data-theme="dark"] .dark {
  background-color: var(--light-3);
  &.isSkewed {
    .skew {
      background-color: var(--light-3);
    }
  }
}

.grey {
  background-color: var(--light-2);
  &.isSkewed {
    .skew {
      background-color: var(--light-2);
    }
  }
}

/* SKEWS */
.skewContainer {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .skew {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.isSkewed {
  z-index: 1;
  & + .section {
    /* Needs to be calculated */
    // margin-top: calc(-1 * var(--vertical-padding));
  }

  &.positive {
    .skew {
      transform: skewY(#{$skew-angle});
    }
  }
  &.negative {
    .skew {
      transform: skewY(-#{$skew-angle});
    }
  }
  &.positiveTop {
    overflow: hidden;
    padding: var(--vertical-padding-skew) 0 var(--vertical-padding);
    // margin-top: calc(-1 * var(--vertical-padding-skew) / 2);
    .skew {
      transform-origin: top left;
      transform: skewY(#{$skew-angle});
    }
  }
  &.negativeTop {
    overflow: hidden;
    padding: var(--vertical-padding-skew) 0 var(--vertical-padding);
    // margin-top: calc(-1 * var(--vertical-padding-skew) / 2);
    .skew {
      transform-origin: top right;
      transform: skewY(-#{$skew-angle});
    }
  }
  &.positiveBottom {
    overflow: hidden;
    padding: var(--vertical-padding) 0 var(--vertical-padding-skew);
    // margin-bottom: calc(-1 * var(--vertical-padding-skew) / 2);
    .skew {
      transform-origin: bottom right;
      transform: skewY(#{$skew-angle});
    }
  }
  &.negativeBottom {
    overflow: hidden;
    padding: var(--vertical-padding) 0 var(--vertical-padding-skew);
    // margin-bottom: calc(-1 * var(--vertical-padding-skew) / 2);
    .skew {
      transform-origin: bottom left;
      transform: skewY(-#{$skew-angle});
    }
  }
}
