.grid {
  display: grid;
}

/* Column */
.col-1 {
  grid-template-columns: 1fr;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Padding */
.pad-none {
  padding: 0;
}
.pad-small {
  padding: 1rem 0;
}
.pad-medium {
  padding: 3rem 0;
}
.pad-large {
  padding: 5rem 0;
}
.pad-topOnly {
  padding: 3rem 0 0;
}
.pad-bottomOnly {
  padding: 0 0 3rem;
}

/* Gap */
.gap-none {
  gap: 0;
}
.gap-small {
  gap: 1rem;
}
.gap-medium {
  gap: 2.5rem;
}
.gap-large {
  gap: 4rem;
}

.search {
  grid-column: 1 / -1;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;

  input {
    padding-left: 1rem;
  }
}
